<div class="block c-sidebar">
	<ul class="menu-v with-icons" id="sidebar-dictionaries">
		{foreach from=$dictionaries item=l name=sb}
			<li id="dictionary{$l.id}" rel="{$l.sort}"{if !empty($l.current)} class="selected"{/if}>
				<span class="count" id="cnt{$l.id}">{$l.count}</span>
				<a href="?action=dictionary&id={$l.id}"
					{if $smarty.foreach.sb.iteration lte 10}
						{* !!! Hotkeys are experimental an will probably change in future *}
						accesskey="{substr($smarty.foreach.sb.iteration, -1)}"
					{/if}>{$l.icon}{$l.name|escape}</a></li>
			</li>
		{/foreach}
		{if !$dictionaries}
			<li>
				<span class="hint">[`No dictionaries available`]</span>
			</li>
		{/if}
	</ul>
	{if $can_add_dictionaries}
		<ul class="menu-v with-icons compact" id="sidebar-new-dictionary">
			<li class="top-padded small">
				{* !!! TODO: accesskeys are experimental *}
				<a href="?action=editor" accesskey="n"><i class="icon10 add c-new-list"></i>[`New dictionary`]</a>
			</li>
		</ul>
	{/if}
</div>

{if $can_add_dictionaries && $dictionaries && count($dictionaries) > 1}
<script type="text/javascript">
(function() {
	// reset accesskeys each time order in sidebar changes
	// (!!! experimental an will probably change in future)
	var resetAccesskeys = function() {
		$('#sidebar-dictionaries li').each(function(i) {
			if (i > 9) {
				return false;
			}
			var k = (''+(i+1)).substr(-1);
			$(this).find('a').attr('accesskey', k);
		});
	};

	// make sidebar sortable
	$('#sidebar-dictionaries').sortable({
		distance: 5,
		opacity: 0.75,
		stop: function(e, ui) {
			var li = ui.item;
			var data = {
				id: li.attr('id').substr(4),
			};
			if (li.next().length) {
				data.sort = li.next().attr('rel');
			} else if (li.prev().length) {
				data.sort = 1 + li.prev().attr('rel');
			} else {
				return; // no reason to sort dictionary if there's only one item
			}
			$.post('?module=json&action=dictionarymove', data);
			resetAccesskeys();
		}
	});
})();
</script>
{/if}

